{% extends 'SdamvalBundle::landlayout.html.twig' %}
{% block content %}
    <div id="content">
        <div class="container">
            <!-- Login form -->
            <form class="form-login form-wrapper form-narrow" action="#">
                <h3 class="title-divider pull-right"><span>ورود کاربران</span> <small>عضو نیستید؟ <a href="#">عضو شوید</a>.</small></h3>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>
                            <input class="span3" id="username" type="text" placeholder="نام کاربری">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            <input class="span3" id="pass" type="password" placeholder="رمز عبور">
                        </div>
                    </div>
                </div>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me">
                    یاد آوری </label>
                <button class="btn btn-info transition" type="submit">ورود</button>
                | <a href="#">رمز عبور خود را فراموش کرده اید؟</a>
            </form>
        </div>
    </div>

{% endblock %}